.course-page-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.course-page-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}


.course-page-container h1 {
    font-size: 24px;
    font-weight: 600;
    margin-top: -4px;

}

.course-page-container p {
    font-size: 16px;
    color: #666;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}


.squareX:hover {
    color: red;
}