.back-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    margin-top: 20px;
}

.course-page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;

}