.dashboard {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
}

.status-cards {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 40px;
}

.title {
    text-align: left;
    width: 100%;
    margin-left: 40px;
}