.dashboard {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
    gap: 20px;
    padding: 10px 20px;
}

.status-cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.title {
    text-align: left;
    width: 100%;
    margin-left: 40px;
}