.dashboard {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #000;
    gap: 20px;
    padding: 0px 20px;
}

.status-cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.title {
    text-align: left;
    width: 100%;
    margin-left: 40px;
    color: purple;
}

.loader {
    position: fixed;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    inset: 0;
    background-color: rgba(117, 75, 117, 0.6);
}

.my-courses-container {
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 1rem;
}

.subtasks-container {
    width: 100%;
}