.dashboard {
    position: relative;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #000;
    gap: 20px;
    padding: 0px 20px;
}

.status-cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.title {
    text-align: left;
    width: 100%;
    margin-left: 40px;
}

.loader {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    width: 100%;
    background-color: rgba(117, 75, 117, 0.6);
}