.dashboard {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.title {
    text-align: left;
    width: 100%;
    margin-left: 40px;
}