.login-container {
    position: absolute;
    inset: 0;
    height: 100vh;
    background-color: rgb(48, 49, 78);
    display: flex;
    flex-direction: column;
}

.login-box {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    width: 400px;
    height: fit-content;
    padding: 20px;
    background-color: rgb(124, 53, 124);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #fff;
}

.login-box input {
    width: 80%;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding: 10px;
}

.login-box button {
    width: 80%;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

.login-box button:hover {
    background-color: purple;
    color: #fff;
}