.profile-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.profile-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ccc;

}

.profile-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.profile-details p {
    margin: 0;
    font-weight: bold;
}

.profile-stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.profile-stats p {
    margin-top: 1rem;
}

h1 {
    text-align: start;
    margin-bottom: 1rem;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem;
    height: 100vh;
    width: 100%;
}

.profile-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.profile-stats div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #ccc;
    font-weight: bold;
}

.logout-btn {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #c06363;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
    font-size: large;
    font-weight: 500;
    opacity: 0.7;
}

.logout-btn:hover {
    background-color: #c06363;
    opacity: 1;
}

.profile-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    margin-left: 50%;
}