.side-bar {
    width: 280px;
    height: 100vh;
    background-color: #f5f5f5;
    padding: 20px;
}



.side-bar-header h2 {
    margin: 0;
}

.side-bar-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.side-bar-nav .NavLink {
    text-decoration: none;
    color: #000;
}

.side-bar-nav .NavLink:hover {
    color: purple;
    font-weight: bold;
}

.side-bar-nav .NavLink.active {
    color: purple;
    font-weight: bold;
}

.side-bar-header {
    color: #000;
    font-size: 20px;
    text-align: left;
    margin-bottom: 20px;

}

.side-bar-header h2 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.side-bar-nav .NavLink {
    display: flex;
    align-items: center;
    gap: 10px;
}