.side-bar {
    min-width: fit-content;
    height: 100%;
    background-color: inherit;
    padding: 20px;
    position: sticky;
    top: 0;
    left: 0;
}



.side-bar-header h2 {
    margin: 0;
}

.side-bar-nav {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: flex-start;
}

.side-bar-nav .NavLink {
    text-decoration: none;
    color: #000;
}

.side-bar-nav .NavLink:hover {
    color: purple;
    font-weight: bold;
}

.side-bar-nav .NavLink.active {
    color: purple;
    font-weight: bold;
}

.side-bar-header {
    color: #000;
    font-size: 20px;
    text-align: left;
    margin-bottom: 20px;

}

.side-bar-header h2 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.side-bar-nav .NavLink {
    display: flex;
    align-items: center;
    gap: 10px;
}