.subtask.completed {
    text-decoration: line-through;
    color: #888;
}

.subtask {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.subtasks .course {
    margin-left: 20px;
    padding: 2px 10px;
    border-radius: 15px;
    width: fit-content;
    opacity: 0.8;
}

.subtasks {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
}

.subtasks-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
}

.subtasks .subtask-item {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}