.subtask.completed {
    text-decoration: line-through;
    color: #888;
}

.subtask {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.subtasks .course {
    margin-left: 20px;
    padding: 2px 10px;
    border-radius: 15px;
    width: fit-content;
    opacity: 0.8;
}

.subtasks {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 40px;
}

.subtasks-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
}

.subtasks .subtask-item {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.add-subtask {
    cursor: pointer;
    color: purple;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.add-subtask:hover {
    background-color: purple;
    color: #fff;
}

.right-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.add-task-form button {
    background-color: purple;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    opacity: 1;
}

.no-subtasks {
    text-align: center;
    color: #888;
}

.add-task-form button:hover {
    opacity: 0.8;
}

.add-task-button.disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.subtask-item .due-date p {
    font-size: 14px;
    color: #888;
    text-align: right;
}

.subtask-item .left-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}