@import "./styles/sideBar.css";
@import "./styles/Dashboard.css";
@import "./styles/statusCard.css";
@import "./styles/activeSession.css";
@import "./styles/timer.css";
@import "./styles/myCourses.css";
@import "./styles/subTasks.css";
@import "./styles/logIn.css";
@import "./styles/CoursePage.css";
@import "./styles/course.css";
@import '@mantine/core/styles.css';


#root {
  max-width: 100%;
  /* background-color: aqua; */
  margin: 0 auto;
  text-align: center;
}

.app-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: #f9fafb;

}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}